.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  border: 4px solid black;
}
#list {
 
}

li {
  list-style: none;
}

.onebook {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr 30fr;
  gap: 1.25rem;
}

.remove {
  width: 6.25rem;
  justify-self: flex-end;
  border-color: black;
  box-sizing: .125rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.removebg {
  background-color: gray;
}
.removebg2 {
  background-color: white;
}