.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}

.onebook {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr 30fr;
  gap: 0.625rem;
  border: 1px solid black;
}

.remove {
  width: 6.25rem;
  justify-self: flex-end;
  border-color: black;
  box-shadow: 2px 4px black;
  margin-right: 0.625rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  gap: 0.625rem;
}

.removebg {
  background-color: rgb(243, 240, 240);
}

hr {
  width: 6.25rem;
  border-top: 1px solid black;
}

#add-button {
  margin-left: 12%;
  box-shadow: 2px 4px black;
}

#title {
  border: 0.125rem solid black;
  width: 12.5rem;
  height: 1.125rem;
}

#author {
  border: 0.125rem solid black;
  width: 12.5rem;
  height: 1.125rem;
}

.title-pe {
  margin-left: 13px;
  list-style: none;
}

.time {
  color: black;
  text-align: right;
  margin-top: 3.625rem;
  width: 98%;
  background-color: white;
  top: 3.125rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  width: 98%;
  border: 2px solid black;
  background-color: white;
  top: 0;
}

.list-item {
  display: flex;
  gap: 0.625rem;
  padding-right: 1.25rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(4, 4, 4);
  font-size: 1rem;
}

a:hover {
  color: blue;
}

.logo {
  padding-left: 1.25rem;
  color: black;
  font-size: 1.25rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-right {
  border: 0.125rem solid black;
  padding-left: 0.9375rem;
  font-size: 1.25rem;
  position: absolute;
  width: 100%;
  margin-top: 23%;
}

.all,
.contact {
  display: none;
}

.links-add {
  color: blue;
}
